<div class="page-inner" >
                <div class="page-title">
                    <h3>Form Elements</h3>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Form Elements</li>
                        </ol>
                    </div>
                </div>

<%= render 'form', testimonial: @testimonial %>
</div>
<%#= link_to 'Back', testimonials_path %>
